.homeDesign {

    /* height: 85vh; */
    width: 100vw;
    background-color:#7FE9DE;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagesDesign{
  
    margin: 2em;
    font-family:sans-serif;
    font-size: larger;
    color:#fbfcfc;
   
}