.headerDesign {
    height: 15vh;
    /* width: 100vw; */
    background-color: #2E8A99;
    margin: 0;
    padding: 0;
    width: auto;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.dentalName{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    
}
.navBarDesign{
display: flex;
align-items: center;

margin: 1em;
height: 15vh;
color: bisque;
}
.navLinks{
display: flex;
flex-direction: row;
align-items: flex-end;

/* justify-content: flex-end, */

}

.headerContainer{
    display: flex;
}

.linksDesign {
    display: flex;
    flex-direction: row;
}

.headerLink {

    font-weight: bolder;
    font-size: large;
    margin: 0.5em;
    color: white;
    transition: 0.5s;
    cursor: pointer;
}

.headerLink:hover {

    transition: 0.5s;
    color: darkgrey;

}